<div class="blogs-container">
	<section id="featured">
		<h1>Featured stories</h1>

		<mat-divider></mat-divider>

		<div class="featured-blogs-container">
			<mat-card class="example-card">
				<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
				<mat-card-content>
					<p>
						The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
						A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
						bred for hunting.
					</p>
				</mat-card-content>
				<mat-card-actions>
					<button mat-button>Like</button>
					<button mat-button>Share</button>
				</mat-card-actions>
			</mat-card>
			<mat-card class="example-card">
				<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
				<mat-card-content>
					<p>
						The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
						A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
						bred for hunting.
					</p>
				</mat-card-content>
				<mat-card-actions>
					<button mat-button>Like</button>
					<button mat-button>Share</button>
				</mat-card-actions>
			</mat-card>
			<mat-card class="example-card">

				<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
				<mat-card-content>
					<p>
						The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
						A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
						bred for hunting.
					</p>
				</mat-card-content>
				<mat-card-actions>
					<button mat-button>Like</button>
					<button mat-button>Share</button>
				</mat-card-actions>
			</mat-card>
		</div>
	</section>

	<section id="logs">

		<h1>CollabMe Logs</h1>

		<mat-divider></mat-divider>

		<div class="logs-container">
			<mat-card class="log-card" *ngFor="let i of [0, 1, 2, 3, 4, 5]">
				<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
				<mat-card-content>
					<p>
						The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
						A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
						bred for hunting.
					</p>
				</mat-card-content>
				<mat-card-actions>
					<button mat-button>Like</button>
					<button mat-button>Share</button>
				</mat-card-actions>
			</mat-card>
		</div>
	</section>
</div>
