.blogs-page-container {
	display: block;
}

.blogs-container {

}

#featured-blogs-header {
	margin: 40px 0;
}

.blogs-container h1 {
	font-family: "Manrope", sans-serif;
	display: block;
	text-align: center;
}

/** {
	border: 1px solid red;
}*/

.featured-blogs {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

