.log {
	border: 1px solid #CCCCCC;
}

.feature-media {
	flex: 1;
	padding: 40px;
}

.feature-info {
	height: inherit;
	flex: 1;
}

.feature-header {
	font-size: xx-large;
	font-family: "Manrope", sans-serif;
	text-align: center;
}

.feature-info-container {

}

.feature-description {
	font-size: large;
	text-align: center;
}

.feature-image {
	filter: drop-shadow(10px 10px 4px #eeeeee);
	width: 90%;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.feature-image {
		width: 90%;
		display: block;
		margin: auto;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.feature-image {
		width: 60%;
		display: block;
		margin: auto;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.feature-image {
		width: 90%;
		display: block;
		margin: auto;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.feature-image {
		width: 90%;
		display: block;
		margin: auto;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.feature-image {
		width: 90%;
		display: block;
		margin: auto;
	}
}
