.job-container {
	display: block;
}

.job-container h1 {
	font-family: "Manrope", sans-serif;
	margin: 0;
}

.job-container h2 {
	font-family: "Manrope", sans-serif;
}

.job-container h3 {
	color: #999999;
}

.log {
	border: 1px solid #DDDDDD;
}
