.page-not-found-container {
	min-height: 80vh;
	display: block;
	height: inherit;

	/*display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;*/
}

.not-found-image-container {
	min-height: 60vh;
}

.not-found-image-container h1 {
	font-size: xxx-large;
	text-align: center;
	font-family: "Koulen", sans-serif;
}

.page-not-found-image {
	width: 100%;
}
