<style>

</style>

<!--<app-navigation [navigation]="navigation"></app-navigation>-->

<div class="content" role="main">
	<router-outlet></router-outlet>
</div>

<footer class="row" #footer *ngIf="primaryFooterVisibility">
	<div class="col-1 empty-col"></div>
	<div class="col-10 footer-center-content">
<!--		<a [routerLink]="['/about']">About</a>-->
<!--		<a [routerLink]="['/blogs']">Blog</a>-->
<!--		<a [routerLink]="['/career']">Career</a>-->
<!--		<a [routerLink]="['/help']">Help</a>-->
		<a [routerLink]="['/privacy']">Privacy</a>
		<a [routerLink]="['/terms']">Terms</a>
		<a href="https://www.instagram.com/jamiddeka">Instagram</a>
		<a href="https://www.facebook.com/jamiddeka">Facebook</a>
		<a href="https://mobile.twitter.com/dekajamid">Twitter</a>
	</div>
	<div class="col-1 empty-col"></div>
	<div class="col-12 copyright">
		<p class="copyright-text">© 2022 CollabMe from Codesquare</p>
	</div>
</footer>
