<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>

</style>

<app-navigation-component [navigation]="navigation"></app-navigation-component>

<div class="content" role="main">

	<router-outlet></router-outlet>

</div>

<footer>
	<div class="footer-spacer"></div>
	<div class="footer-center-content">
<!--		<a [routerLink]="['/about']">About</a>-->
		<a [routerLink]="['/blogs']">Blog</a>
		<a [routerLink]="['/career']">Career</a>
		<a [routerLink]="['/home']">Help</a>
		<a [routerLink]="['/privacy']">Privacy</a>
		<a [routerLink]="['/terms']">Terms</a>
		<a [routerLink]="['/home']">Instagram</a>
		<a [routerLink]="['/home']">Facebook</a>
		<a [routerLink]="['/home']">Twitter</a>
	</div>
	<div class="footer-spacer"></div>
	<!--<div class="copyright">
		<p class="copyright-text">© 2022 CollabMe from Codesquare</p>
	</div>-->
</footer>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

