.terms-container {
	display: block;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.empty-col {
		display: none;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.empty-col {
		display: none;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.empty-col {
		display: inline;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.empty-col {
		display: inline;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.empty-col {
		display: inline;
	}
}

.terms-content {
	padding-bottom: 100px;
}

.icon {
	transform: scale(0.8) translateY(30%);
}

.log {
	border: 1px solid #DDDDDD;
}

.service-providers li a {
	color: black;
}
