.sign-in-container {
	display: block;
}

.app-logo {
	display: block;
	margin: auto;
}

#sign-in-header {
	font-family: "Manrope", sans-serif;
	text-align: center;
	margin: 8px 0 24px 0;
}

#register-btn {
	padding: 2px;
}

.spacer {
	flex: 1 0 auto;
}

#sign-in-btn {
	display: block;
	margin: auto;
}

.field {
	width: 100%;
}

.action-container {
	margin-top: 24px;

	display: flex;
	flex-direction: row;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.sign-in-container {
		/*padding: 10px;*/
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.sign-in-container {
		padding: 10px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.sign-in-container {
		padding: 10px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.sign-in-container {
		padding: 10px;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.sign-in-container {
		padding: 10px;
	}
}
