.navbar {
	position: fixed;
	top:0;

	min-height: 56px;
	z-index: 999;
	background: white;

	display: flex;
	flex-direction: column;
}

#banner-notification {
	background: #c8dcef;
	text-align: center;
	color: #000000;
	font-family: "Manrope", sans-serif;
	display: block;
	margin: 0;
	padding: 4px 12px;
}

.center-contained {
	padding: 0 10vw;
}

.nav-center {
	/* for child elements*/
	display: flex;
	flex-direction: row;
	align-items: center;
}

.navigation-items {
	display: flex;
	flex-direction: row-reverse;
	margin: 0;
}

.nav-download-btn {
	margin: 0 12px;
	border-radius: 24px;
}

.nav-center-brand {
	padding: 0 12px;
	display: inline-flex;
	align-items: center;
}

.nav-center-navigations {

}

.nav-spacer {
	flex: 1;
	height: inherit;
}


.nav-logo {
	/*transform: translateY(10%);*/
	width: 56px;
	height: 56px;
}

.mobile-nav-logo {
	width: 48px;
	height: 48px;
	margin: 4px 16px;
}

.mobile-nav-option {
	margin: 4px 24px;
}

.nav-logo-text {
	font-size: large;
	font-family: "Manrope", sans-serif;
	font-weight: 700;
	padding: 8px;
	text-decoration: none;
	color: black;
}


