section {
	display: block;
	min-height: 100px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

	.cover-content {

	}

	.cover-text {
		text-align: center;
		font-size: xxx-large;
		line-height: 1;
	}

	.cover-text-secondary {
		text-align: center;
		font-size: x-large;
		padding: 0 12px;
	}



	.empty-col {
		display: none;
	}

	#features {
		padding: 0 20px;
	}

	#about-section {
		padding: 20px;
	}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

	.cover-content {
	}

	.cover-text {
		text-align: center;
		font-size: xxx-large;
		line-height: 1;
	}

	.cover-text-secondary {
		text-align: center;
		font-size: large;
		padding: 0 12px;
	}


	.empty-col {
		display: none;
	}

	#features {
		padding: 30px 0;
	}

	#about-section {
		padding: 50px 30px;
	}

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.cover-text {
		text-align: center;
		font-size: 7vw;
		line-height: 1;
	}

	.cover-text-secondary {
		text-align: center;
		font-size: large;
	}


	.empty-col {
		display: inline;
	}

	#features {
		padding: 50px 0;
	}

	#about-section {
		padding: 50px 0;
	}
}

.cover-img {
	/*display: block;
	margin: auto;*/
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.cover-text {
		text-align: left;
		font-size: 7vw;
		line-height: 1;
	}

	.cover-text-secondary {
		text-align: left;
		font-size: large;
	}


	.empty-col {
		display: inline;
	}

	#features {
		padding: 50px 0;
	}

	#about-section {
		padding: 50px 0;
	}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.cover-text {
		text-align: left;
		font-size: 5vw;
		line-height: 1;
	}

	.cover-text-secondary {
		color: #323232;
		text-align: left;
		font-size: x-large;
	}


	.empty-col {
		display: inline;
	}

	#features {
		padding: 50px 0;
	}

	#about-section {
		padding: 50px 0;
	}

}

.cover-text {
	font-family: "Koulen", sans-serif;
	padding: 20px 10px;
	color: white;
}

.download-btn {
	color: white;
	border: 2px solid white;
	max-width: 200px;
	margin: 12px;
}

.cover-text-secondary {
	font-family: "Arial", sans-serif;
	color: white;
}

.features-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.feature-showcase {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.showcase-direction {
	flex-direction: column;
}

.showcase-direction-reverse {
	flex-direction: column-reverse;
}

.home-content {

}

#cover {
	height: 100vh;
	/*min-height: 100vh;
	background-size: cover;*/
}

/*#cover * {
	border: 1px solid red;
}*/

#myVideo {
	width: 100%;
	max-height: 100%;
	object-fit: cover;
}

#coverScrim {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.47);
	position: absolute;
	top: 0;
	left: 0;
}

.cover-container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;


	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.cover-content {

	height: 100%;
	width: 100%;

	/* for child elements */
/*	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;*/
	position: relative;
}


.cover-content-text {
	padding: 40px 1vw;
	z-index: 10;

	/* for child elements */
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.cover-content-media {
	height: 100%;
}

.cover-text-focused {
	color: dodgerblue;
}


.play-store {
	max-width: 240px;
}

#about-section {
	display: block;
	/*background: url("../../assets/people.jpg");*/
}

#about-section h1 {
	font-family: "Koulen", sans-serif;
	font-size: xxx-large;
}

#about-section h2 {
	font-family: "Manrope", sans-serif;
	font-size: xx-large;
}

.about-card {
	padding: 1vw;
}

.about-company {
	border-radius: 24px;
	background: #F1F1F1;

	padding: 30px;
	margin: 0 0 50px 0;
}

.about-company * {
	display: block;
	text-align: center;
}

.company-description {
	font-size: large;
}

.our-team-header {
	font-size: xx-large;
	font-family: "Montserrat SemiBold", sans-serif;
}

.about-desc {
	font-size: large;
}

.team-description-container {

}

.team-members-container {
	padding: 0 12px;
	display: flex;
	flex-wrap: wrap;
}

.team-member {
	flex: 1;
}

.download-options-container {
	display: flex;
	min-height: 100px;
	justify-content: center;
	align-items: center;
}

