<div class="home-content">
	<section id="cover">
		<div class="cover-content">
			<video autoplay muted loop id="myVideo">
				<source src="/assets/bg_video.mp4" type="video/mp4">
				Your browser does not support HTML5 video.
			</video>
			<div id="coverScrim"></div>
			<div class="cover-container row">
				<div class="col-1"></div>
				<div class="cover-content-text col-4">
					<img src="/assets/logo_white.svg" width="150" height="75" style="margin-left: 40px;"/>
					<h1 class="cover-text">
						Create<br>and<br>Collaborate
					</h1>
					<p class="cover-text-secondary">Find new connections through Collabs</p>
					<a routerLink="#" class="download-btn" mat-stroked-button>Download now</a>
				</div>
				<div class="cover-content-media col-4">
					<img class="cover-img" src="/assets/phone1.png" alt="Phone image"/>
				</div>
				<div class="col-1"></div>
			</div>
		</div>
	</section>

	<mat-divider></mat-divider>

	<section id="features" class="row">
		<div class="col-1 empty-col"></div>
		<div class="features-container col-10 row" style="padding: 0;">
			<ng-container *ngFor="let f of features;">
				<app-feature-showcase class="feature-showcase col-6" [currentScreenSize]="currentScreenSize"
									  [feature]="f"
									  [class.showcase-direction-reverse]="f.contentBottom"></app-feature-showcase>
			</ng-container>
		</div>
		<div class="col-1 empty-col"></div>
	</section>

	<mat-divider *ngIf="currentScreenSize !== 'XSmall'"></mat-divider>

	<section id="about-section" class="row">
		<div class="col-1 empty-col"></div>
		<div class="about-card col-10">
			<!--<div class="about-company">
				<h2>About Us</h2>
				<p class="company-description">CollabMe serves to connect people who want to do something
					together. It is as simple as that. It is a dedicated online platform to look for people who are
					willing to join with you on your activities; Be it work related stuff or fun and creative
					activities. Of-course one might have friends but sometimes they don’t fall in the same category of
					interests that one carry.
					<br><br>
					CollabMe was started by two Computer Science graduate in an under developed area where there were
					no communities related to computer science and no scope for further learning. Learning and doing
					things along is not impossible but the world can be a much better place if everyone had someone to
					collaborate with. One had to move to a better place to look for opportunities in regards to computer
					science; We developed what we needed at that point of time to solve our own problems and we hope
					that it serves the same purpose for millions of others like us.
				</p>
			</div>-->

			<div class="about-team row">
				<div class="team-description-container col-4">
					<h2>Our team</h2>
					<p class="about-desc">We are a group of people from Guwahati, Assam and we continuously work to solve
						problems from around the world. Starting through this app.
					</p>
				</div>
				<div class="team-members-container col-8 row">
					<ng-container *ngFor="let m of teamMembers">
						<app-team-member [teamMember]="m" class="col-6"></app-team-member>
					</ng-container>
				</div>
			</div>
		</div>
		<div class="col-1 empty-col"></div>
	</section>

	<mat-divider></mat-divider>

	<section id="download-section">
		<div class="download-options-container col-12">
			<a href='https://play.google.com/store/apps/details?id=com.jamid.codesquare&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img
				class="play-store" alt='Get it on Google Play'
				src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'/></a>
		</div>
	</section>

</div>


